@import url("https://fonts.googleapis.com/css?family=Kalam|Short+Stack&display=swap");
.subjects-component,
.subject-detail-component {
  background-color: lightgreen;
  min-height: 80vh;
  padding: 1em;
}

.subjects,
.categories {
  display: grid;
  grid-gap: 35px;
  position: relative;
}

.subject,
.category-content {
  /* max-width: 400px; */
  width: 90%;
  padding: 0.5em;
  position: relative;
}
form.subject-form label,
form.category-form label {
  width: 90%;
  margin: 0 auto;
}

.subject-component,
.subjects-component > .subject-form-component > .subject-form,
div.category,
.subject-detail-component > .category-form-component > .category-form {
  background-image: url("/images/cb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px #66491d solid;
  color: white;
  height: 100%;
  font-family: "Kalam", cursive;
  /* font-family: 'Short Stack', cursive; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  letter-spacing: 3px;
  width: 100%;
}

/* For creating new subject */
.subjects-component > .subject-form-component > #subject-form {
}

.subject-component #subject-form {
  border: 0;
  background-image: inherit;
}

.subject-component a,
.category a {
  color: white;
  letter-spacing: 3px;
}

.edit-buttons button {
  padding: 0.8em;
  background-color: inherit;
  border-bottom: 2px solid grey;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
}

/* ========================================= */

/* .subject-form-component,
.category-form-component {
  background-color: lightgreen;
  min-height: 80vh;
  padding: 1em;
} */

.subject-form-component form,
.category-form-component form {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  min-height: 50vh;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 35px;
}

/* .subject-form-component form textarea, */
#subject-form textarea,
.category-form-component form textarea,
.form-textarea {
  background-color: inherit;
  width: 100% !important;
  min-height: 100px;
  margin: 0 auto !important;
  font-size: 1.3em;
  text-align: center;
  border: 0;
  color: white;
  padding-top: 1em;
}

/* .subject-form-component form textarea:first-child,
.category-form-component form textarea:first-child {
  height: 50px;
  width: 100%;
} */

.subject-form-component form button,
.category-form-component form button {
  /* width: 25%; */
  padding: 0.8em;
  background-color: lightgreen;
  margin: 0 auto;
  border-radius: 10px;
}

.subject-form-component form label span,
.category-form-component form label span {
  /* width: 25%; */
  padding: 0.4em;
  border-bottom: 1px solid white;
}

/* =============================================== */

.subject-detail-component {
  background-color: lightgreen;
  min-height: 90vh;
}

/* .category {
  background-color: white;
  width: 200px;
  margin: 1em;
} */
