.note-table-component {
  overflow-y: hidden;
  overflow-y: auto;
  margin: 0 auto;
}

.nt-table{
  margin: 0 auto;
}

.nt-th, .nt-td {
  /* border: 1px solid black; */
  /* width: 75px; */
  /* border-collapse: collapse; */
}


.note-table-component textarea.nt-textarea,
.preview {
  min-width:75px ;
  max-width: 125px;
  margin: 0;
}
