/* ============= AUDIO NOTe =========== */

.audio-label,
.form-label {
  margin: 0.5em 0 0.2em 0;
}

.audio-note-component button,
.audio-note-div button {
  padding-bottom: 0.5em;
  background-color: inherit;
  border-bottom: 2px solid grey;
}

/* ===================== IMAGE INPUT DIV ==================== */

img {
  width: 100%;
  max-width: 300px;
}

.image-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.image-input > input[type="file"] {
  width: 180px;
  text-align: center !important;
  margin: auto;
}

div.markdown-show {
  color: white;
  max-width: 700px;
  margin-top: 10px;
  background-color: inherit !important;
}

.markdown-div {
  padding: 8px;
  min-height: 50px;
}

.markdown-div ul {
  margin: 10px 25px;
}

.markdown-div li {
  word-break: normal;
}

.markdown-div a {
  color: white !important;
  text-decoration: underline;
  cursor: pointer;
}

.markdown-h {
  word-break: normal;
}

.markdown-div h1,
.markdown-div h2,
.markdown-div h3 {
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid white;
  width: 80%;
  padding-bottom: 8px;
}

.markdown-div h1 {
  font-size: 25px;
}

.markdown-div h2 {
  font-size: 21px;
}

h4.markdown-h {
  font-weight: 500;
  font-size: 21px;
  margin: 0;
  text-align: left;
  padding: 25px 0 8px 0;
}

h4.markdown-h::before {
  content: "- ";
}

.markdown-div h6 {
  text-align: right;
  margin: 0 0px 25px 0;
}

.markdown-div h6 a {
  background-color: rgba(114, 170, 114, 0.2);
  padding: 0 10px 10px 10px;
}

.markdown-div h6 a::before {
  content: "- ";
}

.markdown-show div.markdown-div blockquote {
  padding: 8px 10px 14px;
  word-break: normal;
  color: white;
  background-color: rgba(114, 170, 114, 0.2);
  margin: 8px 0 0 8px;
  border-left: 5px solid rgba(184, 255, 184, 0.1);
}

.markdown-textarea-div {
  display: block;
  margin: 0 auto;
  border-bottom: 2px black solid;
  border-right: 0;
  padding: 0;
}

.markdown-pre {
  /* !important for production */
  width: 100% !important;
}

.markdown-pre::-webkit-scrollbar {
  height: 5px;
}

.markdown-pre::-webkit-scrollbar-track {
  border: 1px solid black;
  background: rgb(41, 41, 41);
  border-radius: 10px;
}
.markdown-pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 30px;
  width: 8px;
  border: 1px solid black;
  background: rgb(111, 111, 111);
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
  background: -webkit-linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
}

.markdown-pre::-webkit-scrollbar-track-piece {
  height: 30px;
}

button.add-qn-button {
  border: 0 !important;
  border-radius: 20px;
  background-color: rgba(114, 170, 114, 0.5) !important;
}

@media screen and (min-width: 500px) {
  img {
    width: 85%;
  }
}
