.form-content {
  width: 95%;
  max-width: 500px;
  text-align: center;
}
.question-types {
  display: flex;
  justify-content: space-around;
}

.question-type {
  align-items: center;
}

.answer-options-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.answer-option-div {
  position: relative;
  width: 49% !important;
}
.answer-option-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


textarea.answer-option {
  height:auto !important;
  text-align: center;
}

div.correct-answer {
  border: 2px solid green;
}

button.correct-answer {
  border-bottom: 2px solid green !important;
}

strong.bind-notes {
  line-height: 25px;
}
span.icon {
  padding: 5px;
  margin: 2px 10px;
  border: 0 !important;
  border-radius: 10px;
  background-color: rgba(114, 170, 114, 0.5) !important;
}
