.form-content {
  width: 95%;
  max-width: 500px;
  text-align: center;
}
.question-types {
  display: flex;
  justify-content: space-around;
}

.question-type {
  align-items: center;
}

.answer-options-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.answer-option-div {
  position: relative;
  width: 49% !important;
}
.answer-option-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


textarea.answer-option {
  height:auto !important;
  text-align: center;
}

.correct-answer {
  border: 2px solid green;
}
