/* ============= AUDIO NOTe =========== */

.audio-label,
.form-label {
  margin: 0.5em 0 0.2em 0;
}

.audio-note-component button,
.audio-note-div button {
  padding-bottom: 0.5em;
  background-color: inherit;
  border-bottom: 2px solid grey;
}

/* ===================== IMAGE INPUT DIV ==================== */

img {
  width: 100%;
  max-width: 300px;
}

.image-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-input > input[type="file"] {
  width: 180px;
  text-align: center !important;
  margin: auto;
}


/* ========== SUBNOTE ========== */
.subnote {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  padding: 8px;
}

.subnote-dash {
  margin-right: 16px;
}

.note-form-component textarea.subnote-input {
  font-size: 13px;
  text-align: left;
  margin-right: 25px;
}

.note-form-component button.add-subnote {
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
}

.remove-subnote {
  background-color: inherit;
  border-bottom: grey 1px solid;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 25px;
}

@media screen and (min-width: 500px) {
  img {
    width: 85%;
  }
}
