* {
  box-sizing: border-box;
}

html {
  text-align: center;
  min-height: 100vh;
  width: 95vw;
  margin: 0 auto;
  background-color: rgb(102,73,29,.8);
}
header{
  margin: .5em;
}

header button {
  min-width: 153px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  color: white;
  background-color: green;
  border-color: #ccc;
  text-transform: uppercase;
  padding: 14px 0;
  letter-spacing: 1.1px;
  border: none;
}

h2,
h3,
h4 {
  width: 80%;
  margin: 0 auto;
  padding: 0.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
  font-weight: normal;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5 {
  font-size: 1.6em;
  margin: 0.5em 0 1em 0;
}

label {
  display: flex;
  flex-direction: column;
}

button {
  border: 0;
  cursor: pointer;
  margin: .5em;
}

/* textarea {
  width: 90%;
} */

.create-button {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 10px;
}

.back-button {
  padding: 1em;
  font-size: 1.2em;
  border-radius: 50%;
  color: #ff9900;
}

.request-buttons {
  display: flex;
  justify-content: space-between;
}

.request-buttons button {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

textarea[disabled] {
  cursor: not-allowed;
}
img {
  width: 150px;
  height: 150px;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid green; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  z-index: 20;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (min-width: 500px) {
  img {
    width: 200px;
    height: 200px;
  }
}

/* :root {
  --main-bg-color: lightgreen;
} */
